* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(background.jpg) center no-repeat;
}

/*Wrapper*/
.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 600;
}

header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  color: #b700ff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.9rem;
}

header .icons span:hover {
  background: #f3ffbc;
}

header .icons span:last-child {
  margin-right: -10px;
}

/*Calendar*/

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar .days li {
  cursor: pointer;
  margin-top: 30px;
  z-index: 1;
}

.days li.inactive {
  color: #b4b4b4;
}

.days li.active {
  color: #fff;
}

.calendar .weeks li {
  font-weight: 600;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}

.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.days li:hover::before {
  background: #8b69b1;
}

.days li.active::before {
  background: #8b69b1;
}